// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
//main colors
$white: #FFF;
//theme colors
$dark_color: #372635;
$mid_dark_color: #EA5346;
$regular_color: #E68868;
$mid_light_color: #F0C059;
$light_color: #F8E37E;

//fonts
 $font_main: 'Lato', Helvetica, Arial, sans-serif;
 $font_second:  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 
 