<ion-view title="{{ vm.title }}">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="profile in vm.data.profiles | orderBy:'-user.reports'">
                <div class="list">
                    <div class="leaderboard_left">
                        <p>{{$index+1}}</p>
                    </div>

                    <a class="item item-avatar leaderboard_right" href="#">
                        <img data-ng-src="{{profile.photo}}">
                        <div class="info">
                            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                            <p>reports: {{ profile.user.reports.length }}</p>
                        </div>
                    </a>

                    <!--<div class="leaderboard_center item-avatar">-->
                        <!--<img data-ng-src="{{profile.photo}}">-->
                    <!--</div>-->

                    <!--<div class="leaderboard_right">-->
                        <!--<h2>Marty McFly</h2>-->
                        <!--<p>November 05, 1955</p>-->
                    <!--</div>-->
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
