<div class="mdl-layout__drawer">
	<div class="mdl-layout-title side_nav_title">
        <div class="sidenav_img"></div>
        {#<img src="{{ asset('styles/images/logo_new_white.svg') }}" alt="logo"/>#}
	</div>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ url('users') }}">Dashboard</a>
        <a class="mdl-navigation__link" href="{{ url('users') }}">Users</a>
        <a class="mdl-navigation__link" href="{{ url('reports') }}">Reports</a>
        <a class="mdl-navigation__link" >Catalogus</a>
        <a class="mdl-navigation__link" >Nieuws</a>
        <a class="mdl-navigation__link" >FAQs</a>
    </nav>
</div>